@font-face {
    font-family:"Montserrat" ;
    src: url("../assets/Montserrat-Italic-VariableFont_wght.ttf") }




p {

font-family:"Montserrat", monospace

}

    
body {
    color: white;
background-color: black; }


header {
background-color: black;
display: flex;
flex-direction: row;
justify-content: space-between;

}

header ul {
text-align: center;
display: flex;
flex-direction: row;
list-style: none;
font-weight: bold;

}
a {
text-decoration: none;
color: white;

}
.imgNav{
padding: 20px;

}


header li {

display: flex;
flex-direction: row;
padding: 12px;
color: white;
margin: 20px;
}
header h1 {
color: white;
text-align: center;

}

header img {
height: 90px;


}


.imgInicio {
height:50%;
width: 50% ;
border-radius: 10px;


}
section h2 {
    text-align: center;
    background-color: black;
    color: white;
}
footer {
    text-align: center;
    background-color: aliceblue;
    color: black;
}

main h1 {
text-align: center; 
}

footer{
padding: 20px;
border-radius: 5px;
border: black;

}

.imgHoddies {
height: 100%
;
width: 100%;


}
main li {
    display: inline;

}


.imgSneakers{ 
    height: 200px;
    width: 190px;



}

h2 {

    text-align: center;
}

.section1 {
display: flex;
flex-direction: row;




}

.pInicio{
display: flex;
align-items: center;
padding: 50px;
justify-content: center;


}


.listaSobreNos{
display: flex;
flex-direction: column;
list-style:none ;


}

.liSobreNos {
list-style: none;
padding-bottom: 20px;

}

.sectionSobreNos {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
padding-left: 150px;
padding-right: 150px;
}






