@media (max-width: 780px) {
  .section1 {
    display: flex;
    flex-direction: column;
  }
  .imgInicio {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  header {
    background-color: black;
    display: flex;
    flex-direction: center;
    justify-content: center;
  }
  header ul {
    flex-direction: column;
    text-align: center;
  }
  header .imgNav {
    height: 25%;
    width: 25%;
  }
}
@media (max-width: 780px) {
  .sectionSobreNos {
    padding-left: 30px;
    padding-right: 30px;
  }
  .liSobreNos {
    padding-bottom: 40px;
  }
}
.Preguntas {
  display: flex;
  flex-direction: column;
}

.acordeon {
  margin-bottom: 20px;
  border-radius: 20px;
}

.Nosotros {
  text-align: center;
  margin-top: 20px;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .botonesHeader {
  padding: 12px;
  background-color: white;
  margin: 20px;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/Montserrat-Italic-VariableFont_wght.ttf");
}
p {
  font-family: "Montserrat", monospace;
}

body {
  color: white;
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

.imgNav {
  padding: 20px;
  width: 100px;
  height: 100px;
}

.imgInicio {
  height: 50%;
  width: 50%;
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

section h2 {
  text-align: center;
  background-color: black;
  color: white;
}

footer {
  text-align: center;
  background-color: aliceblue;
  color: black;
  padding: 20px;
  border-radius: 5px;
  border: black;
}

main h1 {
  text-align: center;
  margin-bottom: 50px;
}
main li {
  display: inline;
}

.botonFormulario {
  margin: 20px;
  text-align: left;
}

.imgHoddies {
  height: 100%;
  width: 100%;
}

.imgSneakers {
  height: 200px;
  width: 190px;
}

h2 {
  text-align: center;
}

.section1 {
  display: flex;
  flex-direction: row;
}

.pInicio {
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: center;
}

.listaSobreNos {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.liSobreNos {
  list-style: none;
  padding-bottom: 20px;
}

.sectionSobreNos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-left: 150px;
  padding-right: 150px;
}

.tienda {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.tienda div {
  text-align: center;
  margin: 20px;
}

.placeHolder {
  height: 110px;
  width: 1860px;
  margin-top: 20px;
}

fieldset {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  color: black;
  border-radius: 15px;
}

.botonEnviar {
  font-size: 1rem;
  border-radius: 1px;
}

.card {
  width: 18rem;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
