header{
    display: flex;
    justify-content: space-between;
}
nav {
    @extend %flex-row;
    background-color: $colorPrimario;
    justify-content: space-between;
    
    .botonesHeader{
        padding: 12px;
        background-color: $colorSecundario;
        margin: 20px;
        font-size: 1rem;
        border-radius: 10px;
        text-decoration: none;
    }
    .botonesHeader:hover{
        background-color:antiquewhite;
    }
}
.imgNav {
    padding: 20px;
    width: 100px;
    height: 100px;
}
