@media (max-width: 780px) {
    .section1 {
        display: flex ;
        flex-direction: column ;
    }
    .imgInicio {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        font-size: 1rem;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    header ul {
        flex-direction: column;
        text-align: center;
    }
    header .imgNav {
        height: 25%;
        width: 25%;
    }
    .sectionSobreNos {
        padding-left: 30px;
        padding-right: 30px;
    }
    .liSobreNos {
        padding-bottom: 40px;
    }
    .Preguntas {
        display: flex;
        flex-direction: column;
    }
    .Nosotros {
        text-align: center;
        margin-top: 20px;
    }
    .tienda {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}